<table class="table-condensed table-striped">
  <tr>
  <th><h5>Metric</h5></th>
  <th><h5>Node</h5></th>
  <th><h5>Query</h5></th>
  <th><h5>Method</h5></th>
  <th><h5>Result</h5></th>
  <th><h5>Value</h5></th>
  </tr>
  <%= render @rows %>
</table>