
<table class="table-condensed table-striped">
  <tr>
  <th><h5>MO</h5></th>
  <th><h5>Company Name</h5></th>
  <th><h5>Username</h5></th>
  <th><h5>Software version</h5></th>
  <th><h5>API endpoint</h5></th>
  <th></th>
  </tr>
  <%= render @clusters %>
</table>